body, html {
    margin: 0;
}

body {
    font-family: sans-serif;
    font-size: 16px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
}

h1 {
    margin-top: 0;
}

.text-block {
    margin-bottom: 40px;
    text-align: right;
}

.links-block {
    display: block;
    text-align: right;
    margin-bottom: 20px;
}

.link, .linkish-button {
    color: #0a468c;
}

.linkish-button {
    cursor: pointer;
    display: inline;
    border: none;
    padding: 0;
    background-color: unset;
    font-size: inherit;
    text-decoration: underline;
}

.form {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: center;
}

.control-element {
    margin: 5px 0 15px;
    padding: 3px;
    border: 3px solid #49a450;
    border-radius: 0;
    outline: 0;
}

.control-element:focus {
    border-color: #316f36;
}

.button {
    cursor: pointer;
    border: 1px solid #49a450;
    background-color: #77c27d;
    padding: 5px;
    max-width: 70px;
    align-self: end;
    font-weight: bold;
}

.button:focus, .button:hover {
    background-color: #316f36;
}

.form-error {
    margin-bottom: 5px;
    font-size: 14px;
    color: #e03c3c;
}

.posting {
    position: relative;
    padding: 5px;
    border: 1px solid orange;
    margin-bottom: 15px;
}

.posting-title {
    margin: 0 0 5px;
    font-weight: bold;
    font-size: 16px;
}

.posting-content {
    margin: 0 0 5px;
}

.posting-date {
    color: #666;
    font-size: 12px;
}

.posting-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #666;
    font-size: 12px;
}

.posting-image {
    max-width: 100%;
    max-height: 200px;
    margin: 0 0 5px;
}

.delete-posting-button {
    cursor: pointer;
    position: absolute;
    display: block;
    top: 7px;
    right: 5px;
    background-color: unset;
    border: none;
    padding: 0 5px;
    font-size: 20px;
    color: #e03c3c;
}

body .react-tabs__tab--selected {
    border-radius: 0;
}

body .filepond--panel-root {
    border-radius: 0;
    background-color: #c3ddc5;
}

body .filepond--item-panel {
    border-radius: 0;
}

body .react-confirm-alert-body {
    border-radius: 0;
    color: inherit;
}

body .react-confirm-alert-body > h1 {
    color: inherit;
    font-size: 18px;
}

body .react-confirm-alert-button-group > button {
    border-radius: 0;
    border: 1px solid #49a450;
    background-color: #77c27d;
    padding: 5px;
    max-width: 70px;
    align-self: end;
    font-weight: bold;
    font-size: inherit;
    color: inherit;
}

body .react-confirm-alert-button-group > button:focus,
body .react-confirm-alert-button-group > button:hover {
    background-color: #316f36;
}