body, html {
    margin: 0;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
}

.text-block {
    margin-bottom: 40px;
    text-align: right;
}

.links-block {
    display: block;
    text-align: right;
    margin-bottom: 20px;
}

.link {
    cursor: pointer;
    color: #0a468c;
    text-decoration: underline;
}

.form {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: center;
}

.control-element {
    margin: 5px 0 15px;
    padding: 3px;
    border: 3px solid #49a450;
    border-radius: 0;
    outline: 0;
}

.control-element:focus {
    border-color: #316f36;
}

.button {
    border: 1px solid #49a450;
    background-color: #77c27d;
    padding: 5px;
    max-width: 70px;
    align-self: end;
    font-weight: bold;
}

.posting {
    padding: 5px;
    border: 1px solid orange;
    margin-bottom: 15px;
}

.posting-title {
    margin: 0 0 5px;
    font-weight: bold;
    font-size: 16px;
}

.posting-image {
    max-width: 100%;
    max-height: 200px;
}

body .react-tabs__tab--selected {
    border-radius: 0;
}

body .filepond--panel-root {
    border-radius: 0;
    background-color: #c3ddc5;
}