.container {
    padding: 30px;
}

.link {
    display: block;
    text-align: right;
    margin-bottom: 20px;
}

.form {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: center;
}

.control-element {
    margin-bottom: 15px;
}

.posting {
    padding: 5px;
    border: 1px solid orange;
    margin-bottom: 15px;
}

.posting-title {
    margin: 0 0 5px;
    font-weight: bold;
    font-size: 16px;
}